*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    background-color: white;
    margin: 20px auto;
}
header{
    background-color: white;
    margin-bottom: 2.5%;
}
nav{
    margin-top: 20px;
}
.logo img{
    height: 50px;
    border-right: 1px solid #f4f4f4;
    padding-right: 10px;
}
li{
    list-style-type: none;
    display: inline-block;
}
a{
    font-size: 20px;
    padding-right: 10px;
    text-decoration: none;
    color:#9a9a9a;
}
.first-banner{
    margin-bottom: 3.5%;
    background-image: url(../img/banner.jpg);
    background-position: center;
    height: 400px;
    border-radius: 10px;
    color: white;
}
.background{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.p-title{
    padding-left: 30px;
    padding-top: 250px;
    font-size: 30px;
}   
.sub-title{
    padding-left: 30px;
    padding-bottom: 30px;
}   
.section{
    height: 10%;
}
h2{
    font-size: 30px;
}
.second{
    margin-bottom: 2.5%;
}
/* clearfix per gli elementi flottati dopo aver tolto le altezze */
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
/* selettore avanzato caratteristiche float-img  */
.float-img-center, .float-img-left, .float-img-right{
    height: 200px;
    border-radius: 10px;
    background-position: center;
}
/* sezione immagine float1  */
.float-img-left{
    background-image: url(../img/img-1.jpg);
    
}
/* sezione immagine float2 */
.float-img-center{
    background-image: url(../img/banner-2.jpg);
}
/* sezione immagine float3  */
.float-img-right{
    background-image: url(../img/img-3.jpg);
}
.background-float{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

/* ho creato una classe generale per dare il colore ai testi grigi */
.grigio{
    color: #9a9a9a;
}

.float1, .float2, .float3{
    margin-top: 1%;
    margin-bottom: 1%;
}

.float1{
    float: left;
    width: 20%;
    margin-top: 1%;
}
.float2{
    float: left;
    width: 56%;
    margin-left: 2%;
    margin-right: 2%;
}
.float3{
    float: left;
    width: 20%;
    margin-top: 1%;
}
footer{
    height: 10%;
    background-color: #8801fe;
}