*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 70%;
    height: 700px;
    background-color: white;
    margin: 20px auto;
}
header{
    background-color: white;
    margin-bottom: 2.5%;
}
nav{
    margin-top: 20px;
}
.logo img{
    height: 50px;
    border-right: 1px solid #f4f4f4;
    padding-right: 10px;
}
li{
    list-style-type: none;
    display: inline-block;
}
a{
    font-size: 20px;
    padding-right: 10px;
    text-decoration: none;
    color:#9a9a9a;
}
.first-banner{
    margin-bottom: 2.5%;
    background-image: url(../img/banner.jpg);
    background-position: center;
    height: 400px;
    border-radius: 10px;
    color: white;
}
.background{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.p-title{
    padding-left: 30px;
    padding-top: 250px;
    font-size: 30px;
}   
.sub-title{
    padding-left: 30px;
    padding-bottom: 30px;
}   
.section{
    height: 10%;
    background-color: #abcfe7;
}
.second{
    height: 40%;
    background-color: #0884fc;
    margin-bottom: 2.5%;
}
/* Regola per delimitare l'altezza del contenuto, ma lo abbiamo già dato nel contenitore */
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

footer{
    height: 10%;
    background-color: #8801fe;
}
.float1{
    float: left;
    background-color: #abcfe7;
    height: 90%;
    width: 33%;
    margin-top: 1%;
    margin-right: 2%;
}
.float2{
    float: left;
    background-color: #abcfe7;
    height: 90%;
    width: 33%;
    margin-top: 1%;
    margin-right: 2%;
}
.float3{
    background-color: #abcfe7;
    float: left;
    height: 90%;
    width: 30%;
    margin-top: 1%;
}